#container {
  width: 490px;
  height: 420px;
  display: grid;
  background-color: rgb(21, 106, 211);
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
  border: 1px solid black;
  gap: 5px;
  padding: 5px;
  z-index: 20;
}

#container div {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  justify-content: space-around;
}

body {
  text-align: center;
}

button {
  font-size: 30px;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

#yellow, #red {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
