#container {
  width: 490px;
  height: 420px;
  display: grid;
  background-color: rgb(21, 106, 211);
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
  border: 1px solid black;
  gap: 5px;
  padding: 5px;
}

#container div {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  justify-content: space-around;
}

body {
  text-align: center;
}

button {
  font-size: 30px;
}

.falling-piece {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  background-color: blue;
  width: 60px;
  height: 60px;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

#yellow,
#red {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#end-game-screen {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#screen-background {
  width: 350px;
  height: 250px;
  background-color: rgb(236, 172, 88);
  border-radius: 12%;
  border: rgb(90, 58, 11) solid 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
}

#screen-background button {
  width: 180px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

#screen-background p {
  font-size: 50px;
}
