#container {
  width: 490px;
  height: 420px;
  display: grid;
  background-color: rgb(21, 106, 211);
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
  border: 1px solid black;
  gap: 5px;
  padding: 5px;
}

#container div {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

body {
  text-align: center;
}

button {
  font-size: 30px;
}

.falling-piece {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  background-color: blue;
  width: 60px;
  height: 60px;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

#yellow,
#red {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  border: 1px solid black;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#top {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#end-game-screen {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
}

#screen-background {
  width: 350px;
  height: 250px;
  background-color: rgb(236, 172, 88);
  border-radius: 12%;
  border: rgb(90, 58, 11) solid 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
  font-family: sans-serif;
}

#screen-background button {
  width: 180px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: sans-serif;
}

#screen-background p {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}

.swirlingObject {
  animation: swirlAnimation 1.5s cubic-bezier(0.25, 1, 0.5, 1) 0s 1 normal
    forwards;
}

@keyframes swirlAnimation {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0) translate(-50%, -50%);
    transform-origin: 50% 100%;
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1) translate(-50%, -50%);
    transform-origin: 50% 100%;
  }
}

.markedSquare {
  animation: shake 0.8s linear 0s infinite normal forwards;
}

@keyframes shake {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

#info {
  background-color: rgb(255, 216, 216);
  width: 250px;
  height: 400px;
  position: absolute;
  top: 200px;
  right: 75px;
  border: 2px dotted black;
  border-radius: 25px;
  font-size: 24px;
  padding: 5px 10px;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/garden2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#start-screen {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(236, 172, 88);
  border: rgb(90, 58, 11) solid 6px;
}
