* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
}

header h1 {
    font-size: 70px;
}

header {
    height: auto;
    background-color: azure;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    position: sticky;
    top: 0;
    width: 100%
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: auto 20px;
    gap: 5px
}

nav a {
    border: 1px solid black;
    flex: 1;
    border-radius: 5%;
    padding: 5px;
    background-color: rgb(184, 196, 196);
    text-decoration: none;
    color: black
}

nav a:hover {
    background-color: rgb(160, 176, 176);
    color:rgb(255, 255, 255)
}

h6 {
    position: absolute;
    right: 10px;
    font-size: 18px;
}