table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

main {
    display: flex;
    justify-content: center;
}

table{
    margin-top: 150px;
}